body{
    height: 100%;
    width: 100%;
    background-image: url(bg.jpeg);
    
}

section{
         background-color:black;
        width: 70%;
        height:100%;
        margin-left: 15%;
        opacity: 0.8;
        top:0;
        position: absolute;
}

img{
    width:33%;
    height: 30%;
    
}