body{
    background-color: #479c4b;
    width: 100%;
    height: 100vh;
}
img{
    
    width: 40%;
    height:40vh;
    position: relative;
    margin-top: 30%;
    margin-left: 30%;;
}

.Over{
    
   position: fixed; /* or absolute */
  top: 2%;
  left: 40%;
  width: 70%; 
  height: 50%;

  
    
}


.meh{
  position: fixed; /* or absolute */
  top: 7%;
  left: 10%;
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
img{
    width: 100%;
    height: 100%;
}
h3{
   
    font-size: 220%;
}
p{
    font-weight: bold;
    font-size: 220%;
    position: absolute; 
    top: 8%;

}