body{
    height: 100%;
    width: 100%;
    background-image: url(bg.jpeg);
    
}

section{
         background-color:black;
        width: 70%;
        height:100%;
        margin-left: 15%;
        opacity: 0.8;
        top:0;
        position: absolute;
}
p{
  word-wrap: break-word;
    color: white;
    font-size: 70%;
    color:gold;
}
.longText{
     word-wrap: break-word;
    color: white;
    font-size: 70%;
    margin-top: 5%;
 
}
